@use "../../styles/constants";

.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-block: 25px 10px;
  padding: 40px 20px;
  background-color: constants.$input_bg_color;
  border-radius: 10px;

  input,
  select,
  button {
    height: 30px;
    margin: 5px;
    border-radius: 3px;
    border: 0.3px solid constants.$table_text_color;
  }

  button {
    background-color: constants.$table_text_color;
    color: constants.$table_head_color;
  }
}
