.toast_message {
  position: absolute;
  bottom: 10%;
  right: 5%;
  box-shadow: 10px 5px 5px 10px rgba(248, 242, 242, 0.714);
  width: 100%;
  max-width: 300px;
  height: 100px;
  border-radius: 10px;
  text-align: center;
  line-height: 100px;
  border-top: 1.5px solid white;
  border-bottom: 1.5px solid white;
  border-right: none ;
  border-left: 5px solid white;
}
.success {
  color: green;
  border-color: green;
}

.error {
  color: red;
  border-color: red;
}
