$table_bg_head: rgba(2, 6, 25, 0.84);
$table_text_color: rgb(2, 9, 42);
$table_hover_color: rgba(2, 16, 85, 0.24);
$table_head_color: rgb(221, 227, 255);
$input_bg_color: rgba(27, 41, 120, 0.325);
$white_color: rgb(255, 255, 255);
$red_color: rgba(255, 0, 0, 0.777)